<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Member">
	<insert id="join" parameterType="member">
		INSERT INTO MEMBERTABLE
		VALUES(#{id},#{password},#{gender},#{phone},#{email},'','')
	</insert>
	<insert id="kakaojoin" parameterType="member">
		INSERT INTO MEMBERTABLE
		VALUES(#{id},'',#{gender},#{phone},#{email},#{kakaoId},'')
	</insert>
	<insert id="naverjoin" parameterType="member">
		INSERT INTO MEMBERTABLE
		VALUES(#{id},'',#{gender},#{phone},#{email},'',#{naverId})
	</insert>



	<select id="login" parameterType="member" resultType="String">

		SELECT *
		FROM MEMBERTABLE WHERE ID=#{id} AND PASSWORD=#{password}

	</select>

	<select id="memberList" resultType="member">
		SELECT * FROM MEMBERTABLE
	</select>
	<select id="memberUpdateSelect" parameterType="String"
		resultType="member">
		SELECT * FROM MEMBERTABLE WHERE ID=#{id}
	</select>

	<update id="memberUpdate" parameterType="member">
		UPDATE MEMBERTABLE SET
		ID=#{id},PASSWORD=#{password},GENDER=#{gender},PHONE=#{gender},EMAIL=#{email}
		WHERE ID=#{id}
	</update>

	<delete id="memberDelete">

		DELETE FROM MEMBERTABLE WHERE ID=#{id}
	</delete>


	<select id="idOverlap" parameterType="String"
		resultType="String">
		SELECT ID FROM MEMBERTABLE WHERE ID=#{id}
	</select>



	<select id="viewId" parameterType="member" resultType="member">
		SELECT *
		FROM MEMBERTABLE WHERE ID=#{id}
	</select>



	<select id="kakaoLogin" parameterType="String"
		resultType="member">
		SELECT * FROM MEMBERTABLE WHERE KAKAOID=#{kakaoId}
	</select>

	<select id="naverLogin" parameterType="String"
		resultType="member">
		SELECT * FROM MEMBERTABLE WHERE NAVERID=#{naverId}
	</select>


</mapper>
 