




@charset "UTF-8";
*{
    font-family: 'Jua', sans-serif;
    background-color:whitesmoke;
}

table{
    margin: auto;
    position: relative;
    bottom: -100px;
}
caption{
    position: relative;
    bottom: 50px;
    font-size: 50px;
    color:#0000a02815828;
}
tr{
    position: relative;
   
}
td{
    font-size: 20px;

}
